<div class="nav-bar">
    <div class="nav-bar__icon-buttons">

        <form action="/home" method="POST">
            <button class="icon-button icon-button--fill-icon <%= pageTitle == 'home' ? 'icon-button--active' : '' %>"">
                <span class="material-symbols-outlined" style="color: var(--icon-color);">home</span>
            </button>
        </form>
        <form action="/notifications" method="POST">
            <button class="icon-button icon-button--fill-icon <%= pageTitle == 'notifications' ? 'icon-button--active' : '' %>">
                <span class="material-symbols-outlined" style="color: var(--icon-color);">notifications</span>
            </button>
        </form>
        <form action="/bookmarks" method="POST">
            <button class="icon-button icon-button--fill-icon <%= pageTitle == 'bookmarks' ? 'icon-button--active' : '' %>">
                <span class="material-symbols-outlined" style="color: var(--icon-color);">bookmarks</span>
            </button>
        </form>
        <form action="/vault" method="POST">
            <button class="icon-button icon-button--fill-icon <%= pageTitle == 'vault' ? 'icon-button--active' : '' %>" onclick="">
                <span class="material-symbols-outlined" style="color: var(--icon-color);">article</span>
            </button>
        </form>
        <form action="/write" method="POST">
            <button class="icon-button icon-button--fill-icon <%= pageTitle == 'write' ? 'icon-button--active' : '' %>">
                <span class="material-symbols-outlined" style="color: var(--icon-color);">edit_square</span>
            </button>
        </form>

    </div>

    <form action="/settings" method="POST">
        <button class="icon-button icon-button--fill-icon <%= pageTitle == 'settings' ? 'icon-button--active' : '' %>">
            <span class="material-symbols-outlined" style="color: var(--icon-color);">settings</span>
        </button>
    </form>

    <button class="icon-button icon-button--fill-icon nav-bar__menu">
        <span class="material-symbols-outlined" style="color: var(--icon-color);">menu</span>
    </button>
</div>   